<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>웹서버에서 보내온 페이지</title>
    </head>
    <body>

        <div>
           <table>
                <tr>
                    <th>이름</th>  <!--컬럼 명이 됨-->
                    <th>나이</th>
                    <th>전화번호</th>
                </tr>
                <% for (let i = 0; i < persons.length; i++) { %>
                    <tr>
                        <td><%= persons[i].name %></td>
                        <td><%= persons[i].age %></td>
                        <td><%= persons[i].mobile %></td>
                        <form action = "/page/plus" method = "get">
                            <span></span><input type="hidden" name="id" value="<%=i%>"></span>
                            <span></span><input type="hidden" name="name" value="<%= persons[i].name %>"></span>
                            <span></span><input type="hidden" name="age" value="<%= persons[i].age %>"></span>
                            <span></span><input type="hidden" name="mobile" value="<%= persons[i].mobile %>"></span>
                            <td><button>값 변경</button></td>
                        </form>

                        <!--<td><button onclick="Delete(`${i]`)">값 삭제</button></td>-->
                    </tr>
                <% }%>
           </table>
        </div>
        <div>
            <a href="/page/add">값 추가하기</a>
        </div>
        <script>

            function update(index) {
                console.log(`update 메서드 실행`);

                const form = document.createElement(`form`);
                //form.action = "/page/plus"
                //form.method = "get"

                const indexx = document.createElement(`input`);
                indexx.type = "hidden";
                indexx.name = "index";
                indexx.value = index;
                form.appendChild(indexx);

                const name = document.createElement(`input`);
                name.type = "hidden";
                name.name = "name";
                name.value = persons[index].name;
                form.appendChild(name);

                const age = document.createElement(`input`);
                age.type = "hidden";
                age.name = "age";
                age.value = persons[index].age;
                form.appendChild(age);

                const mobile = document.createElement(`input`);
                mobile.type = "hidden";
                mobile.name = "mobile";
                mobile.value = persons[index].mobile;
                form.appendChild(mobile);

                document.body.appendChild(form);
                form.submit();
            }
        </script>

       
    </body>

</html>